.mine {
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 2em;
  width: calc((100% - 2 * 2em) / 3);
  border: 0.5px rgba(0,0,0,0.3) solid;
  border-radius: 10px;
  background-color: #E1E1E1;
}

.mine:nth-child(3n) {
  margin-right: 0;
}

.mine-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.all-courses {
  color: #0A4259;
  margin-bottom: 15px;
}
.teachers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar.fixed-top {
  height: 45px;
}

i.icon.fa.fa-cog.fa-fw {
  margin-left: 5px;
}

#page.drawers {
  margin-top: 45px;
  padding: 0;
  height: inherit;
}

.my-page-wrapper {
  display: flex;
}

.primary-navigation {
  position: fixed;
  height: 100%;
  width: 240px;
  background-color: #0A4259;
}

.primary-navigation nav {
  height: inherit;
}

.bg-095472 {
  background-color: #095472;
}

.color-white, .navbar-light .navbar-brand {
  color: white;
}

.navbar.fixed-top {
  border: none;
}

#page.drawers .main-inner {
  background-color: #DFE6E9;
  margin: 0;
  margin-left: 240px;
  padding: 0;
  width: calc(100% - 240px);
  border-radius: 0;
}

body.limitedwidth #page.drawers .main-inner {
  max-width: inherit;
}

.secondary-navigation .navigation {
  margin: 0;
}

.primary-navigation .navigation .nav-link {
  color: white;
}