:root {
  --max-theme-color-light: #4291B2;
}

/* Primary navigation */

.primary-navigation {
  position: fixed;
  padding: 24px 43px 0;
  height: 100%;
  width: 300px;
  background-color: #0A4259;
}

.primary-navigation .nav-item {
  position: relative;
  height: 39px;
}

.primary-navigation .nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.primary-navigation .nav-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translate(0,-50%);
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-item[data-key='home']::before {
  background-image: url([[pix:theme|house]]);
}
.nav-item[data-key='myhome']::before {
  background-image: url([[pix:theme|profile-user]]);
}
.nav-item[data-key='mycourses']::before {
  background-image: url([[pix:theme|graduation-cap]]);
}
.nav-item[data-key='siteadminnode']::before {
  background-image: url([[pix:theme|calendar]]);
}

.navbar-nav .nav-link {
  padding: 6px 6px 6px 48px;
}

.input-group label, .text-primary {
  color: white!important;
}

.primary-navigation nav {
  height: inherit;
}

/* Header */

.navbar.fixed-top {
  height: 45px;
  border: none;
  background-color: #095472;
}

.navbar-brand {
  padding: 0;
  margin-left: 27px;
}

i.icon.fa.fa-cog.fa-fw {
  margin-left: 5px;
}

.primary-navigation .navigation .nav-link {
  height: inherit;
  font-weight: 600;
  color: #fff;
}

.primary-navigation .nav-item .nav-link.active,
.primary-navigation .nav-item .nav-link:hover,
.primary-navigation .nav-item .nav-link:focus {
  border: none;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
}

.userinitials, .userpicture {
  border: 2px white solid;
  border-radius: 50%;
}

/* Course cards*/
.course-content:has(~ .all-courses) {
  display: none;
}

.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
  width: calc((100% - (2 * 53px)) / 3 );
}

.dashboard-card-deck .dashboard-card:not(:nth-child(3n)) {
  margin-right: 53px;
}

.dashboard-card-deck .dashboard-card {
  margin: 0 0 31px;
}

.multiline {
  font-size: 18px;
}

.card-body {
  padding: 14px;
}

/* Main content field*/

#page.drawers .main-inner {
  margin: 0 0 0 300px;
  padding: 15px 15px 0 15px;
  width: calc(100% - 300px);
  height: inherit;
  border-radius: 0;
  background-color: #DFE6E9;
}

body.limitedwidth #page.drawers .main-inner {
  max-width: inherit;
}

.secondary-navigation .navigation,
.navbar-nav,
.secondary-navigation .navigation .nav-tabs {
  margin: 0;
}

.drawer-toggles .drawer-toggler {
  top: calc(45px + 3rem);
}

.secondary-navigation {
  padding-bottom: 0;
}

.alert {
  margin: 0.75em 1.25em;
}

.course-content-wrapper {
  margin-bottom: 41px;
}

.my-courses-state.active {
  border-bottom: 4px var(--max-theme-color-light) solid;
}

.my-courses-state {
  display: inline-block;
  width: 130px;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
  color: #035577;
  text-align: center;
  cursor: pointer;
}

.my-courses-state:not(:last-child) {
  margin-right: 81px;
}

.my-courses-state:hover, .my-courses-state:focus {
  background-color: rgba(223,230,233,0.3);
  text-decoration: none;
  color: #035577;
}

.max-justify {
  justify-content: space-between;
  width: 100%;
}

.max-custom-button {
  border-radius: 5px;
  border-color: var(--max-theme-color-light);
  color: var(--max-theme-color-light);
}

.max-custom-button::after {
  color: var(--max-theme-color-light);
}

.max-custom-button:hover, .max-custom-button:focus {
  background-color: var(--max-theme-color-light);
}

.icon.fa-star {
  color: var(--max-theme-color-light);
}

.webgl-iframe-content-loader {
  padding: 20px;
}

.path-mod-webgl .webgl-iframe-content-loader {
  width: 100%;
  height: 610px;
  position: static;
}

.webgl-iframe-content-loader iframe {
  border: none;
  width: 100%;
  height: 115%;
  -ms-zoom: 0.85;
  -webkit-transform-origin: 50% 0;
}

#page.drawers .activity-header {
  margin: 0 30px 0;
}

.activity-navigation {
  padding: 20px
}

#region-main h2 {
  margin: 30px 30px 0.5rem;
}
#region-main div[role='main'] h2 {
  margin: 0 0 31px;
}

/*Site Body*/

#page.drawers {
  position: initial;
  margin-top: 45px;
  padding: 0;
  height: inherit;
}

.my-page-wrapper {
  display: flex;
  height: inherit;
}

.navbar-light .navbar-brand,
.navbar-nav .popover-region .icon,
.max-custom-button:hover,
.max-custom-button:focus,
.max-custom-button:hover::after,
.max-custom-button:focus::after {
  color: white;
}

#page-wrapper #page {
  background-color: #DFE6E9;
}

#page.drawers div[role="main"] {
  padding: 30px 35px;
}

.pagelayout-mydashboard #region-main {
  background-color: white;
}